body {
    background-color: beige;
    color: indigo;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color:violet;
    background-color: #4B0082;
}
.boole {
    float: right;
    text-decoration-line: underline;
}